
.message {
    margin-top: 10px;
    font-weight: bold;
    margin-right: 1650px;
}

.success {
    background-color: rgb(126, 250, 10);
    font-weight: bold;
}

.error {
    background-color: red;
    font-weight: bold;
}